.cmp-menu {
  .user-menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
  }

  .barber-menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
  }
}
