.cmp-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px 60px 60px;

  @media (max-width: 768px) {
    padding: 60px 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .service-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 20px;
  }

  .card-service {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;

    .name {
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}
