.cmp-datetime {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 60px 60px 60px;

  @media (max-width: 768px) {
    padding: 60px 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .date-picker-container {
    width: 100%;
    max-width: 600px;

    .v-picker__title {
      background-color: black;
      color: white;

      .v-date-picker-title__year {
        font-weight: 600;
      }
    }

    .v-picker__body {
      width: 100% !important;
    }

    .v-btn__content {
      font-size: 18px;
    }

    .v-btn--active {
      color: #3a001b !important;
    }
  }

  .time-picker-container {
    margin-top: 30px;

    .time-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 600px;
      gap: 20px;
      justify-content: center;
    }

    .time-item {
      font-size: 18px;
      padding: 15px 30px;
      border: 1px solid #3a001b;
      border-radius: 5px;
      cursor: pointer;
      background-color: transparent;
      transition: 0.3s;
    }

    .time-item.selected {
      background-color: black;
      color: white;
    }
  }

  .button-container {
    margin-top: 60px;
  }
}
