.cmp-header {
  display: flex;
  background-color: antiquewhite;
  justify-content: space-between;
  height: 90px;

  span {
    font-size: 24px;
  }

  button {
    font-size: 24px;
    background-color:aqua;
    padding: 0 30px;
  }
}