.cmp-login {
  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;

    @media (max-width: 768px) {
      width: 100%;
    }

    .v-input__slot {
      margin: 0;
    }

    .v-text-field__details {
      display: none;
    }
  }
}
