.cmp-barber {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px 60px 60px;

  @media (max-width: 768px) {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .barber-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
  }

  .card-barber {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;

    img {
      height: 100px;
      border-radius: 10px;
      object-fit: cover;
      object-position: top;
    }

    p {
      margin-top: 15px;
      font-weight: 600;
      text-align: center;
    }
  }
}
