.my-schedulings-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 24px;
    margin-top: 30px;
  }

  .table {
    width: 100vw;
    margin-top: 30px;

    thead {
      th {
        padding: 10px;
      }
    }

    td {
      background-color: rgb(210, 173, 245);
      padding: 10px;
    }
  }
}
